/*COLORS*/
$primary-color: #596274;
$primary-color--dark:#50596A;
$secondary-color: #EBE5E2;
$tertiary-color: rgba(198,180,171, 0.35);

/*FONTS*/
$heading-font: 'Josefin Sans', sans-serif;
$body-font: 'Lato', sans-serif;

/*SCREEN BREAKS*/
$tablet-break: 760px;
$desktop-break: 1240px;


