@import 'variables';

@media screen and (min-width: $tablet-break) {

    /* General Styles -------*/
    .icon {
        height: 30px;
    }

    /* Typography -----------*/

    p.bodyText {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 28px;
    }

    h1 {
        font-size: 40px;
        line-height: 46px;
    }

    h2 {
        font-size: 30px;
        list-style: 40px;
        padding-bottom: 40px;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    /* Links and Buttons -----------*/
    
    a {
        font-size: 25px;
        line-height: 35px;
    }

    button {
        padding: 0 30px;
        height: 55px;
        font-size: 18px;
    }
    .button--dark, .button--light {
        &:before {
            top: 10px;
            left: 10px;
        }
    }


    /* HEADER -----------*/

    .header {
        padding: 20px 50px;
        &__logo {
            width: 250px;
        }
        &__nav {
            &--mobile {
                display: none;
            }
            &--desktop {
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                li {
                    cursor: pointer;
                }
            }
        }
    }

    /* HERO SECTION -----------*/

    .hero {
        height: 70vh;
        padding-bottom: 0 100px;
        &__info {
            padding-top: 100px;
        }
    }
    

}






@media screen and (min-width: $desktop-break) {


    /* Typography -----------*/

    h1 {
        font-size: 67px;
        line-height: 80px;
    }

    h2 {
        font-size: 53px;
        list-style: 64px;
    }

    /* Links and Buttons -----------*/

    button {
        padding: 0 40px;
        height: 85px;
        font-size: 25px;
    }
    .button--dark, .button--light {
        &:before {
            top: 20px;
            left: 20px;
        }
    }

    /* HEADER -----------*/

    .header {
        padding: 0 50px;
        height: 100px;
        background-color: $tertiary-color;
        &__telephone {
            display: flex;
            align-items: center;
            width: 250px;
            .icon {
                margin-right: 5px;
            }
        }
        &__logo {
            width: 350px;
        }
    }

    /* HERO SECTION -----------*/
    
    .hero {
        padding: 100px 150px;
        height: 100vh;
        &__info {
            width: 50%;
            h1 {
                padding-bottom: 50px;
            }
        }
        &__image {
            top: 100px;
        }
    }

}