/*COLORS*/
/*FONTS*/
/*SCREEN BREAKS*/
@media screen and (min-width: 760px) {
  /* General Styles -------*/
  .icon {
    height: 30px;
  }
  /* Typography -----------*/
  p.bodyText {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 28px;
  }
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
  h2 {
    font-size: 30px;
    list-style: 40px;
    padding-bottom: 40px;
  }
  h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  /* Links and Buttons -----------*/
  a {
    font-size: 25px;
    line-height: 35px;
  }
  button {
    padding: 0 30px;
    height: 55px;
    font-size: 18px;
  }
  .button--dark:before, .button--light:before {
    top: 10px;
    left: 10px;
  }
  /* HEADER -----------*/
  .header {
    padding: 20px 50px;
  }
  .header__logo {
    width: 250px;
  }
  .header__nav--mobile {
    display: none;
  }
  .header__nav--desktop {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .header__nav--desktop li {
    cursor: pointer;
  }
  /* HERO SECTION -----------*/
  .hero {
    height: 70vh;
    padding-bottom: 0 100px;
  }
  .hero__info {
    padding-top: 100px;
  }
  /* PRODUCT HERO SECTION -----------*/
  .product-hero__image {
    width: 70%;
    height: 500px;
  }
  .product-hero__image-img:before {
    border-radius: 0 225px 0 0;
  }
  .product-hero__image-img img {
    border-radius: 0 225px 0 0;
  }
  .product-hero__info {
    width: 80%;
    padding: 100px 20px;
  }
  .product-hero--reversed .product-hero__image-img:before {
    border-radius: 0 0 0 225px;
  }
  .product-hero--reversed .product-hero__image-img img {
    border-radius: 0 0 0 225px;
  }
  /* NOS MARQUES SECTION -------*/
  .nos-marques {
    padding: 50px 40px;
  }
  .nos-marques .main-carousel {
    padding: 30px;
  }
  /* FOOTER -------*/
  footer {
    padding: 50px 40px;
  }
  footer div {
    width: unset;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1240px) {
  /* Typography -----------*/
  h1 {
    font-size: 67px;
    line-height: 80px;
  }
  h2 {
    font-size: 53px;
    list-style: 64px;
  }
  /* Links and Buttons -----------*/
  button {
    padding: 0 40px;
    height: 85px;
    font-size: 25px;
  }
  .button--dark:before, .button--light:before {
    top: 20px;
    left: 20px;
  }
  /* HEADER -----------*/
  .header {
    padding: 0 50px;
    height: 100px;
    background-color: rgba(198, 180, 171, 0.35);
  }
  .header__telephone {
    display: flex;
    align-items: center;
    width: 250px;
  }
  .header__telephone .icon {
    margin-right: 5px;
  }
  .header__logo {
    width: 350px;
  }
  /* HERO SECTION -----------*/
  .hero {
    padding: 100px 150px;
    height: 100vh;
  }
  .hero__info {
    width: 50%;
  }
  .hero__info h1 {
    padding-bottom: 50px;
  }
  .hero__image {
    top: 100px;
  }
  /* PRODUCT HERO SECTION -----------*/
  .product-hero {
    flex-wrap: nowrap;
    padding: 0 10%;
    justify-content: space-between;
  }
  .product-hero__wrapper {
    max-width: 1400px;
    justify-content: space-between;
  }
  .product-hero__image {
    width: 450px;
    height: 500px;
    margin-left: 50px;
  }
  .product-hero__info {
    width: 50%;
    padding: 100px 0;
  }
  .product-hero--reversed .product-hero__image {
    order: 1;
  }
  /* NOS MARQUES SECTION -------*/
  .nos-marques {
    padding: 70px 230px;
  }
  .nos-marques .main-carousel {
    padding: 70px;
  }
  /* FOOTER -------*/
  footer {
    padding: 70px 20%;
  }
}
/*# sourceMappingURL=responsive.css.map */